<div class="side-bar-header">
  <div class="header-name">
    <a href="#">Tom</a>
  </div>
  <div class="create-channel">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="channels">
  <div class="channel">
    <div class="channel-name">
     <a href="#">channel1</a>
    </div>
  </div>
  <div class="channel">
    <div class="channel-name">
     <a href="#">channel2</a>
    </div>
  </div>
</div>